<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to' #There are declared two variables, each one with a string assigned
my_string2 = "My Personal Notebook"
print(my_string1 + ' ' + my_string2)#It is used the python's print function to display both strings concatenated and separated with a blank space

Welcome to My Personal Notebook

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 66 #Defines an integer
print(my_int) #Prints that integer
print(type(my_int)) #Prints the data type of the variable, in this case, an integer ('int')

66
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "563" #Defines a string with numeric characters
print(type(my_string)) #Prints the data type (str = string)
my_int = int(my_string) #Uses the int() function to convert that string in integer
print(type(my_int))#Prints the data type (int = integer)

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "100.663"
my_float = float(my_string)#Function that converts another data type to float (with decimal point)
print(type(my_float))
print(my_float)

<class 'float'>
100.663

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = False #Boolean variable is defined
print(my_bool)#Prints value
print(type(my_bool)#Prints data type

False
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Addition ", 1+5) #prints  a concatenation of the first argument and the second one, which uses the addition operator 
print("Subtraction ", 5-2)#prints  a concatenation of the first argument and the second one, which uses the substraction operator 
print("Multiplication ", 2*3)#prints  a concatenation of the first argument and the second one, which uses the multiplication operator 
print("Division ", 10/2)#prints  a concatenation of the first argument and the second one, which uses the division operator 
print('Exponent', 2**3)#prints  a concatenation of the first argument and the second one, which uses the exponencial operator

Addition  6
Subtraction  3
Multiplication  6
Division  5.0
Exponent 8

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(1/6) #Prints an int/int
print(1.0/6.0) #Prints float/int

0.16666666666666666
0.16666666666666666

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['One', 'Two', 3, 4, 5] #Declares a list, where can be saved different data types
print(my_list) #Prints the list

['One', 'Two', 3, 4, 5]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['One', 'Two', 3, 4, 5]
print(len(my_list)) #Prints the list lenght
print(my_list[3]) #Prints the first element in the list
print(my_list[len(my_list) -1])#Prints the last element in the list

5
4
5

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['One', 'Two', 3, 4, 5]
my_list[2] = 'Three' #Changes a value in list accessing by its index 
print(my_list)

['One', 'Two', 'Three', 4, 5]

A list can also be sliced with a colon:

In [ ]:
my_list = ['One', 'Two', 3, 4, 5]
print(my_list[1:4]) #Prints the specified range of elements (second to fourth)

['Two', 3, 4]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])#Prints second to last element, excluding first

['Connect', 1, 2, 3]

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:2]) #Prints list excluding the third element

['One', 'Two']

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'My']
my_list.append('Friend')#Adds an element at the end of the list without erasing the existent one
print(my_list)

['Hello', 'My', 'Friend']

In [ ]:
my_list.remove('My')#Removes first element that matches with the given parameter
print(my_list)

['Hello', 'Friend']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Hello','My','Friend')#Creates a tuple

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Hello','My','Friend')
print(my_tuple[1:])#Same as with lists, tuples can be sliced and shown only from the second index's element

('My', 'Friend')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']#Creates a list
stock_set = set(stock_list)#creates a set
print(stock_set)

{'GOOG', 'AAPL', 'IBM', 'FB', 'F'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL':'Apple', 'FB':'Metaxd', 'GOOG':'Google'}#Creates a dictionary

In [ ]:
print(my_dic['FB'])#Prints a dictionary's element by its defined key 'GOOG'

Metaxd

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'The Google Company'#Assigns a string to an specific key on de dictionary
print(my_dic['GOOG'])

The Google Company

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys())#.keys gets dictionary's keys
print(type(my_dic.keys()))

dict_keys(['AAPL', 'FB', 'GOOG'])
<class 'dict_keys'>

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])#Strings can also be sliced by selecting an incial or ending character

to QuantConnect

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of a appears in this sentence'.count('a')) #Gets how many times a character is in a string
print('The first time a appears in this sentence'.find('a'))#Gets the firts time a character in a string (returning its index)
print('all the a in this sentence now becomes e'.replace('a','e'))#Replaces the first argument with the second one

3
15
ell the e in this sentence now becomes e

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2001-12-13 05:33:33'
splited_list = Time.split(' ')#Creates a list separating the string using the given parameter as a reference
date = splited_list[0] 
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]#Splits by ":"
year = date.split('-')[0]
print(hour)
print(year)

2001-12-13 05:33:33
05
2001

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')#Replaces brackets with the given parameters in the same order
print(my_time)

Hour: 09, Minute:43

Another way to format a string is to use the % symbol.

In [ ]:
print('the pi number is %f'%3.14)#Replaces values with % to that last given value
print('%s to %s'%('Welcome','Quantconnect'))#Does the same but with multiple values

the pi number is 3.140000
Welcome to Quantconnect

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0)#Equals
print(1 == 1)#Equals
print(1 != 0)#Not equals
print(5 >= 5)#Greater than or equal to
print(5 <= 6)#Less than or equal to

False
True
True
True
True

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print(2 > 1 and 3 > 2)# > is greater than, < is less than
print(2 > 1 and 3 < 2) #or and and are logical operators
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))#Uses brackets to separate logical statements
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0: #Executes the code below only if the logical operation is True
    print('i==0 is True')

i==0 is True

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q: #Using if with more complex logical statements
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p: #elif and else are used to put more contitionals
    print('p is false')
else:
    print('None of p and q is true')

q is false

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 15
while i > 7: #While the  statement is True, code below will execute
    print(i)
    i -= 1 #i is an iterator

15
14
13
12
11
10
9
8

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in reversed([1,2,3,4,5]): #Will iterate on the list's items and execute, for each of them, the code below
    print(i)

5
4
3
2
1

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected: #adds a conditional inside a for loop
        new_list.append(i) 
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break #Terminates the loop

AAPL
GOOG
IBM
FB

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue #goes to next iteration skipping the code below
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)#ads the result of i**2 to the list
print(squares)

[1, 4, 9, 16, 25]

Using list comprehension:

In [ ]:
list = [1,2,3,4,5]
squares = [x**2 for x in list] #Compress the previous for loop into its list notation
print(squares)

[1, 4, 9, 16, 25]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]  #Adds a conditional to the comprehension
print(new_list)

['AAPL', 'IBM']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])#More complex list comprehensions using more than one variable
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y):#Defines a function with x and y parameters
    return x*y
print(product(2,3))#Calls the created function giving the requested parameters
print(product(6,11))

6
66

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_hi():#Creates a function without parameters
    print('Hello world')
say_hi()#Calls the function

Hello world

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(10))#Gets the range 0 to 10
print(range(1,11))#Gets the range 1 to 11
print(range(1,11,2))#Gets the range 1 to 11 and stepping by 2

range(0, 10)
range(1, 11)
range(1, 11, 2)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))#Gets the lenght of the given element (a list or a string)
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [ ]:
print(list)
del list #Deletes values in the variable
print(list)

[1, 2, 3, 4, 5]
<class 'list'>

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers))#Applies len function for every tickers' element

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))#Applies len function for every tickers' element

[4, 4, 3, 2, 1, 1, 1, 2]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
list(map(lambda x: x**2, range(10))) #Defines an anonymous function used only in the map

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1])) #Operates items from both lists

[6, 6, 6, 6, 6]

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
sorted([5,2,3,4,1])#Returns sorted list

[1, 2, 3, 4, 5]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])#sorts by the second value of each tuple

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)#Reverse the default  order

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])#Sorts the existent list
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [ ]:
class stock: #Defines the class
    def __init__(self, ticker, open, close, volume): #Defines a method with arguments to initialize the class
        self.ticker = ticker #Self refers to that attribute in a future class instance
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
apple = stock('AAPL', 143.69, 144.09, 20109375) #Creates an object with an instance of the  stock class
google = stock('GOOG', 898.7, 911.7, 1561616)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
apple.ticker #Gets the attribute "ticker" of the object
google.print_return() #calls an object's method
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
apple.ceo = 'Tim Cook' #adds an attribute to the object
apple.ceo

'Tim Cook'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple)#Shows attributes and methods of the given object

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
class child(stock):#Defines a child class from stock class
    def __init__(self,name):
        self.name = name #Adds an specific attribute to the child class

In [ ]:
aa = child('aa')#Creates an object from child class
print(aa.name)#Gets the previously entered parameter
aa.update(100,102)#Calls a method from parent class
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [ ]:
import numpy as np #Imports numpy

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)#Creates the numpy array
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3],[2,4]]) #Creates 2-dimensional array
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
print(Ar.shape)#Gets the dimensions of the given array

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print(Ar[0])#Accesses to the first row
print(Ar[1])#Accesses to the second row

[1 3]
[2 4]

If we want to access the matrix by column instead:

In [ ]:
print('the first column: ', Ar[:,0])#Accesses to the first column
print('the second column: ', Ar[:,1])#Accesses to the second column

the first column:  [1 2]
the second column:  [3 4]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
print(np.log(price_array))#Applies natural logarithm to each elemente on the array

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

Other functions return a single value:

In [ ]:
print(np.mean(price_array))#Returns the mean of the values in the array (x1 + x2 + x3 + ... + xn)/n
print(np.std(price_array))#Gets the standard deviation of the array
print(np.sum(price_array))# sums all the  values (x1+x2+...+xn)
print(np.max(price_array))#Gets the maximum value

143.89666666666668
0.9673790478515796
863.38
145.83

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [ ]:
import pandas as pd #Imports Pandas

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [ ]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62, "aaa", "bbb"]
s = pd.Series(price) #Creates a series with the given list
s

0    143.73
1    145.83
2    143.68
3    144.02
4     143.5
5    142.62
6       aaa
7       bbb
dtype: object

We can customize the indices of a new Series:

In [ ]:
s = pd.Series(price,index = ['a','b','c','d','e','f', 'g', 'h']) #Uses the given indexes instead of the default ones
s

a    143.73
b    145.83
c    143.68
d    144.02
e     143.5
f    142.62
g       aaa
h       bbb
dtype: object

Or we can change the indices of an existing Series:

In [ ]:
s.index = [6,5,4,66,2,1,0,-1] #Changes the indexes of an existing series
s

 6     143.73
 5     145.83
 4     143.68
 66    144.02
 2      143.5
 1     142.62
 0        aaa
-1        bbb
dtype: object

Series is like a list since it can be sliced by index:

In [ ]:
print(s[3:]) #Slices the series by the 4th index
print(s[:-1]) #Excludes last element

 66    144.02
 2      143.5
 1     142.62
 0        aaa
-1        bbb
dtype: object
6     143.73
5     145.83
4     143.68
66    144.02
2      143.5
1     142.62
0        aaa
dtype: object

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
print(s[-1]) #Gets  the value of the series by the label -1
s[-1] = 0 #Changes value of the label -1 of the series
print(s)

0
 6     143.73
 5     145.83
 4     143.68
 66    144.02
 2      143.5
 1     142.62
 0        aaa
-1          0
dtype: object

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
s = pd.Series(price, name = 'My First Series') #Gives a name to the series
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4     143.5
5    142.62
6       aaa
7       bbb
Name: My First Series, dtype: object
My First Series

We can get the statistical summaries of a Series:

In [ ]:
print(s.describe())#Gets the statistical summaries of the series

count       8.00
unique      8.00
top       143.73
freq        1.00
Name: My First Series, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
time_index = pd.date_range('2005-12-31',periods = len(s),freq = 'Y') #Creates a Pandas' Time Index getting 2005-12-31 as the initial value, using the series lenght to define...
print (type(time_index))#... how many elements it will have and defining a yearly frequence
print(time_index)
s.index = time_index #Indexes the series by the defined time index
print(s)

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
DatetimeIndex(['2005-12-31', '2006-12-31', '2007-12-31', '2008-12-31',
               '2009-12-31', '2010-12-31', '2011-12-31', '2012-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')
2005-12-31    143.73
2006-12-31    145.83
2007-12-31    143.68
2008-12-31    144.02
2009-12-31     143.5
2010-12-31    142.62
2011-12-31       aaa
2012-12-31       bbb
Freq: A-DEC, Name: My First Series, dtype: object

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
s.index = [8,7,6,5,4,3,2,1]
print(s)
print(s[3])#Gets the element by series' label index (dictionary behavior)

8    143.73
7    145.83
6    143.68
5    144.02
4     143.5
3    142.62
2       aaa
1       bbb
Name: My First Series, dtype: object
142.62

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
print(s.iloc[3])#Gets the element in the given integer index (list behavior)

144.02

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [ ]:
s.index = time_index
print(s['2007-12-31']) #Gets element by time index

143.68

We can even access to a range of dates:

In [ ]:
print(s['2006-12-31':'2009-12-31'])#Gets only de elements in the given date range

2006-12-31    145.83
2007-12-31    143.68
2008-12-31    144.02
2009-12-31     143.5
Freq: A-DEC, Name: My First Series, dtype: object

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
price = [145.6, 126.7, 167.9, 188.7, 158.7, 0.5, 100]
s = pd.Series(price, name = 'My First Series')
print(np.mean(s))
print(s[s < np.mean(s)] ) #gets the mean of the series and displays only the elements less than that mean
print(s[(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])#Displays the elements that are greater than the mean and that are less than the mean + 1.64*std(s) i.e. the standard deviation

126.8714285714286
1    126.7
5      0.5
6    100.0
Name: My First Series, dtype: float64
0    145.6
2    167.9
3    188.7
4    158.7
Name: My First Series, dtype: float64

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [ ]:
!pip install yfinance #gets data from yfinance

Collecting yfinance
  Downloading yfinance-0.1.64.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 7.6 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.64-py2.py3-none-any.whl size=24109 sha256=93856a20a6fffac178c7d82753d36cc1614e1d7d2dcba47ea128cba58323fa59
  Stored in directory: /root/.cache/pip/wheels/86/fe/9b/a4d3d78796b699e37065e5b6c27b75cff448ddb8b24943c288
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.64

In [ ]:
import yfinance as yf #imports yfinance

aapl = yf.Ticker("AAPL") #Gets the info from the imported data

# get stock info
print(aapl.info) 

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2021-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 100000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.32867, 'profitMargins': 0.25882, 'grossMargins': 0.41779, 'operatingCashflow': 104037998592, 'revenueGrowth': 0.288, 'operatingMargins': 0.29782, 'ebitda': 120233000960, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 152836000000, 'freeCashflow': 76476121088, 'targetMedianPrice': 170, 'currentPrice': 149.8, 'earningsGrowth': 0.679, 'currentRatio': 1.075, 'returnOnAssets': 0.20179, 'numberOfAnalystOpinions': 40, 'targetMeanPrice': 168.84, 'debtToEquity': 197.684, 'returnOnEquity': 1.47443, 'targetHighPrice': 190, 'totalCash': 62639001600, 'totalDebt': 124718997504, 'totalRevenue': 365817004032, 'totalCashPerShare': 3.813, 'financialCurrency': 'USD', 'revenuePerShare': 21.904, 'quickRatio': 0.91, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 6.896, 'beta3Year': None, 'enterpriseToEbitda': 20.983, '52WeekChange': 0.377218, 'morningStarRiskRating': None, 'forwardEps': 5.98, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.841, 'sharesShort': 100881318, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1632528000, 'heldPercentInstitutions': 0.58625, 'netIncomeToCommon': 94679998464, 'trailingEps': 5.61, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.39125264, 'priceToBook': 39.00026, 'heldPercentInsiders': 0.00071999995, 'nextFiscalYearEnd': 1695600000, 'yield': None, 'mostRecentQuarter': 1632528000, 'shortRatio': 1.25, 'sharesShortPreviousMonthDate': 1631664000, 'floatShares': 16409866410, 'beta': None, 'enterpriseValue': 2522812514304, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.622, 'priceToSalesTrailing12Months': 6.769024, 'dateShortInterest': 1634256000, 'pegRatio': 1.35, 'ytdReturn': None, 'forwardPE': 25.050167, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 100926641, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 152.57, 'regularMarketOpen': 147.215, 'twoHundredDayAverage': 140.07079, 'trailingAnnualDividendYield': 0.005571213, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 149.935, 'navPrice': None, 'averageDailyVolume10Day': 73271114, 'regularMarketPreviousClose': 152.57, 'fiftyDayAverage': 145.59914, 'trailingAnnualDividendRate': 0.85, 'open': 147.215, 'toCurrency': None, 'averageVolume10days': 73271114, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 146.4128, 'currency': 'USD', 'trailingPE': 26.702316, 'regularMarketVolume': 124953168, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2476224020480, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 75359889, 'dayLow': 146.4128, 'ask': 149.93, 'askSize': 1100, 'volume': 124953168, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.22, 'fiftyTwoWeekLow': 107.32, 'bid': 149.91, 'tradeable': False, 'dividendYield': 0.0058999998, 'bidSize': 1100, 'dayHigh': 149.935, 'regularMarketPrice': 149.8, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2016-01-04   23.655170   24.291446  ...        0.0           0.0
2016-01-05   24.379041   24.402094  ...        0.0           0.0
2016-01-06   23.182567   23.599836  ...        0.0           0.0
2016-01-07   22.749162   23.083437  ...        0.0           0.0
2016-01-08   22.719199   22.848298  ...        0.0           0.0
...                ...         ...  ...        ...           ...
2021-10-25  148.679993  149.369995  ...        0.0           0.0
2021-10-26  149.330002  150.839996  ...        0.0           0.0
2021-10-27  149.360001  149.729996  ...        0.0           0.0
2021-10-28  149.820007  153.169998  ...        0.0           0.0
2021-10-29  147.220001  149.940002  ...        0.0           0.0

[1468 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [ ]:
aapl = aapl_table['Close']['2021'] #gets values from apple´s daily closing prices of 2021

In [ ]:
print(aapl)

Date
2021-01-04    128.804825
2021-01-05    130.397324
2021-01-06    126.007957
2021-01-07    130.307755
2021-01-08    131.432465
                 ...
2021-10-25    148.639999
2021-10-26    149.320007
2021-10-27    148.850006
2021-10-28    152.570007
2021-10-29    149.800003
Name: Close, Length: 209, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [ ]:
print(aapl['2021-07'])#Gets specific data of July

Date
2021-07-01    137.064651
2021-07-02    139.750626
2021-07-06    141.807541
2021-07-07    144.353729
2021-07-08    143.025711
2021-07-09    144.892914
2021-07-12    144.283829
2021-07-13    145.422119
2021-07-14    148.926865
2021-07-15    148.257874
2021-07-16    146.170990
2021-07-19    142.236893
2021-07-20    145.931351
2021-07-21    145.182480
2021-07-22    146.580383
2021-07-23    148.337753
2021-07-26    148.767120
2021-07-27    146.550430
2021-07-28    144.763107
2021-07-29    145.422119
2021-07-30    145.641785
Name: Close, dtype: float64

In [ ]:
aapl['2021-7':'2021-10'] #Gets data in the range July-October

Date
2021-07-01    137.064651
2021-07-02    139.750626
2021-07-06    141.807541
2021-07-07    144.353729
2021-07-08    143.025711
                 ...
2021-10-25    148.639999
2021-10-26    149.320007
2021-10-27    148.850006
2021-10-28    152.570007
2021-10-29    149.800003
Name: Close, Length: 85, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [ ]:
print(aapl.head(2))#Gets the first 2 elements
print(aapl.tail(2))#Gets the last 2 elements

Date
2021-01-04    128.804825
2021-01-05    130.397324
Name: Close, dtype: float64
Date
2021-10-28    152.570007
2021-10-29    149.800003
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [ ]:
by_month = aapl.resample('M').mean()#Resamples the series showing one value per month obtained from all the month's day's mean
print(by_month)

Date
2021-01-31    132.414696
2021-02-28    131.069792
2021-03-31    121.482635
2021-04-30    131.392483
2021-05-31    126.550456
2021-06-30    129.764216
2021-07-31    144.922394
2021-08-31    148.137819
2021-09-30    148.306190
2021-10-31    145.563809
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [ ]:
by_week = aapl.resample('W').mean() #The same but with weeks
print(by_week.head())

Date
2021-01-10    129.390065
2021-01-17    128.340997
2021-01-24    133.323589
2021-01-31    138.785910
2021-02-07    134.851273
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [ ]:
aapl.resample('M').max() #Now getting the max value instead of the mean

Date
2021-01-31    142.490524
2021-02-28    136.747498
2021-03-31    127.382462
2021-04-30    134.409958
2021-05-31    132.117294
2021-06-30    136.755112
2021-07-31    148.926865
2021-08-31    153.119995
2021-09-30    156.690002
2021-10-31    152.570007
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [ ]:
three_day = aapl.resample('3D').mean() #Frequency of 3 days
two_week = aapl.resample('2W').mean()#Frequency of 2 weeks
two_month = aapl.resample('2M').mean()#Frequency of 2 months


print(three_day)
print(two_week)
print(two_month )

Date
2021-01-04    128.403369
2021-01-07    130.870110
2021-01-10    128.287247
2021-01-13    128.376826
2021-01-16           NaN
                 ...
2021-10-16    146.550003
2021-10-19    149.166662
2021-10-22    148.690002
2021-10-25    148.936671
2021-10-28    151.185005
Freq: 3D, Name: Close, Length: 100, dtype: float64
Date
2021-01-10    129.390065
2021-01-24    130.555479
2021-02-07    136.818594
2021-02-21    133.176139
2021-03-07    123.203824
2021-03-21    121.138432
2021-04-04    121.196689
2021-04-18    130.555305
2021-05-02    133.108136
2021-05-16    127.360305
2021-05-30    125.740607
2021-06-13    125.589611
2021-06-27    131.704672
2021-07-11    139.817190
2021-07-25    146.133054
2021-08-08    146.329657
2021-08-22    147.810001
2021-09-05    150.923999
2021-09-19    150.710000
2021-10-03    144.023000
2021-10-17    142.226997
2021-10-31    149.192001
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2021-01-31    132.414695
2021-03-31    125.819683
2021-05-31    129.030518
2021-07-31    137.167047
2021-09-30    148.220047
2021-11-30    145.563809
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [ ]:
std = aapl.resample('W').std()#Resamples weekly displaying the standard deviation
max = aapl.resample('W').max()#Resamples weekly displaying the maximum value
min = aapl.resample('W').min()#Resamples weekly displaying the minimum value


print(std)
print(max)
print(min)

Date
2021-01-10    2.110052
2021-01-17    1.322745
2021-01-24    5.005777
2021-01-31    4.832351
2021-02-07    1.593965
2021-02-14    0.717237
2021-02-21    1.599535
2021-02-28    2.531167
2021-03-07    3.096274
2021-03-14    2.189884
2021-03-21    2.533473
2021-03-28    1.367989
2021-04-04    1.311883
2021-04-11    2.987202
2021-04-18    1.520672
2021-04-25    1.119452
2021-05-02    1.265350
2021-05-09    1.903037
2021-05-16    1.833443
2021-05-23    1.086028
2021-05-30    1.125641
2021-06-06    1.009669
2021-06-13    0.628047
2021-06-20    0.793811
2021-06-27    0.645288
2021-07-04    1.881023
2021-07-11    1.385260
2021-07-18    1.942819
2021-07-25    2.238113
2021-08-01    1.556446
2021-08-08    0.727570
2021-08-15    1.732880
2021-08-22    2.099730
2021-08-29    0.910486
2021-09-05    0.962066
2021-09-12    3.338543
2021-09-19    1.358769
2021-09-26    1.889321
2021-10-03    1.508049
2021-10-10    1.655223
2021-10-17    1.605747
2021-10-24    1.165402
2021-10-31    1.592556
Freq: W-SUN, Name: Close, dtype: float64
Date
2021-01-10    131.432465
2021-01-17    130.277893
2021-01-24    138.419632
2021-01-31    142.490524
2021-02-07    136.747498
2021-02-14    136.473373
2021-02-21    132.765244
2021-02-28    125.598167
2021-03-07    127.382462
2021-03-14    121.571045
2021-03-21    125.169533
2021-03-28    122.996490
2021-04-04    122.607727
2021-04-11    132.575836
2021-04-18    134.071060
2021-04-25    134.409958
2021-05-02    134.290359
2021-05-09    132.117294
2021-05-16    127.259331
2021-05-23    127.119537
2021-05-30    126.909851
2021-06-06    125.701668
2021-06-13    127.159477
2021-06-20    131.592834
2021-06-27    133.779556
2021-07-04    139.750626
2021-07-11    144.892914
2021-07-18    148.926865
2021-07-25    148.337753
2021-08-01    148.767120
2021-08-08    147.139542
2021-08-15    149.100006
2021-08-22    151.119995
2021-08-29    149.710007
2021-09-05    154.300003
2021-09-12    156.690002
2021-09-19    149.550003
2021-09-26    146.919998
2021-10-03    145.369995
2021-10-10    143.289993
2021-10-17    144.839996
2021-10-24    149.479996
2021-10-31    152.570007
Freq: W-SUN, Name: Close, dtype: float64
Date
2021-01-10    126.007957
2021-01-17    126.545425
2021-01-24    127.232208
2021-01-31    131.342880
2021-02-07    133.313614
2021-02-14    134.699051
2021-02-21    129.296326
2021-02-28    120.604141
2021-03-07    119.746880
2021-03-14    115.988907
2021-03-21    119.607330
2021-03-28    119.707008
2021-04-04    119.517616
2021-04-11    125.498489
2021-04-18    130.821457
2021-04-25    131.519226
2021-05-02    131.040756
2021-05-09    127.442261
2021-05-16    122.586334
2021-05-23    124.503464
2021-05-30    124.423584
2021-06-06    123.355186
2021-06-13    125.711655
2021-06-20    129.446060
2021-06-27    132.102081
2021-07-04    134.578369
2021-07-11    141.807541
2021-07-18    144.283829
2021-07-25    142.236893
2021-08-01    144.763107
2021-08-08    145.302307
2021-08-15    145.600006
2021-08-22    146.360001
2021-08-29    147.539993
2021-09-05    151.830002
2021-09-12    148.970001
2021-09-19    146.059998
2021-09-26    142.940002
2021-10-03    141.500000
2021-10-10    139.139999
2021-10-17    140.910004
2021-10-24    146.550003
2021-10-31    148.639999
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [ ]:
last_day = aapl.resample('M').agg(lambda x: x[-1])#Fetches the value of the last dat of each month
print(last_day)

Date
2021-01-31    131.342880
2021-02-28    120.873283
2021-03-31    121.760445
2021-04-30    131.040756
2021-05-31    124.423584
2021-06-30    136.755112
2021-07-31    145.641785
2021-08-31    151.830002
2021-09-30    141.500000
2021-10-31    149.800003
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [ ]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)#Fetches the value of the last dat of each month divided by the first and substracting one
print(monthly_return)

Date
2021-01-31    0.019705
2021-02-28   -0.094668
2021-03-31   -0.044135
2021-04-30    0.068781
2021-05-31   -0.058234
2021-06-30    0.102028
2021-07-31    0.062577
2021-08-31    0.044925
2021-09-30   -0.072192
2021-10-31    0.050123
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [ ]:
print(monthly_return.mean())#Calculates the mean of the fetched data
print(monthly_return.std())#Calculates the standard deviation of the fetched data
print(monthly_return.max())#Calculates the maximum value of the fetched data

0.007890887643666822
0.06901315274581275
0.10202776986384099

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [ ]:
print(last_day.diff())#Calculates the difference between consecutive elements
print(last_day.pct_change())#Calculates the percentage change

Date
2021-01-31          NaN
2021-02-28   -10.469597
2021-03-31     0.887161
2021-04-30     9.280312
2021-05-31    -6.617172
2021-06-30    12.331528
2021-07-31     8.886673
2021-08-31     6.188217
2021-09-30   -10.330002
2021-10-31     8.300003
Freq: M, Name: Close, dtype: float64
Date
2021-01-31         NaN
2021-02-28   -0.079712
2021-03-31    0.007340
2021-04-30    0.076218
2021-05-31   -0.050497
2021-06-30    0.099109
2021-07-31    0.064982
2021-08-31    0.042489
2021-09-30   -0.068037
2021-10-31    0.058657
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))#Fills the NaN values with 0

Date
2021-01-31    0.000000
2021-02-28   -0.079712
2021-03-31    0.007340
2021-04-30    0.076218
2021-05-31   -0.050497
2021-06-30    0.099109
2021-07-31    0.064982
2021-08-31    0.042489
2021-09-30   -0.068037
2021-10-31    0.058657
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))#Fills the NaN values with the next value

Date
2021-01-31   -0.079712
2021-02-28   -0.079712
2021-03-31    0.007340
2021-04-30    0.076218
2021-05-31   -0.050497
2021-06-30    0.099109
2021-07-31    0.064982
2021-08-31    0.042489
2021-09-30   -0.068037
2021-10-31    0.058657
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [ ]:
daily_return = last_day.pct_change()
daily_return.dropna()#Drops rows with NaN values

Date
2021-02-28   -0.079712
2021-03-31    0.007340
2021-04-30    0.076218
2021-05-31   -0.050497
2021-06-30    0.099109
2021-07-31    0.064982
2021-08-31    0.042489
2021-09-30   -0.068037
2021-10-31    0.058657
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [ ]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]} #Creates a dictionary where each key has associated a list
data_index = pd.date_range('2021-04-03',periods = 5, freq = 'D')#Creates a date range as seen before
df = pd.DataFrame(dict, index = data_index)#Creates a dataframe with the dictionary indexing it by the date range
print(df)

              AAPL    GOOG     IBM
2021-04-03  143.50  898.70  155.58
2021-04-04  144.09  911.71  153.67
2021-04-05  142.73  906.69  152.36
2021-04-06  144.18  918.59  152.94
2021-04-07  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [ ]:
df = aapl_table
print(df.Close.tail(5))#Gets the last five values of the column Close
print(df['Volume'].tail(5))#Gets the last five values of the column Volume

Date
2021-10-25    148.639999
2021-10-26    149.320007
2021-10-27    148.850006
2021-10-28    152.570007
2021-10-29    149.800003
Name: Close, dtype: float64
Date
2021-10-25     50720600
2021-10-26     60893400
2021-10-27     56094900
2021-10-28    100077900
2021-10-29    124850400
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [ ]:
aapl_2021 = df['2021']
aapl_month = aapl_2021.resample('M').agg(lambda x: x[-1])#Fetches resampled data same as with series
print(aapl_month)

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2021-01-31  135.194777  136.100525  ...        0.0           0.0
2021-02-28  122.199036  124.451831  ...        0.0           0.0
2021-03-31  121.262039  123.126071  ...        0.0           0.0
2021-04-30  131.359728  133.134050  ...        0.0           0.0
2021-05-31  125.382147  125.611806  ...        0.0           0.0
2021-06-30  135.966285  137.204435  ...        0.0           0.0
2021-07-31  144.164003  146.111083  ...        0.0           0.0
2021-08-31  152.660004  152.800003  ...        0.0           0.0
2021-09-30  143.660004  144.380005  ...        0.0           0.0
2021-10-31  147.220001  149.940002  ...        0.0           0.0

[10 rows x 7 columns]

We may select certain columns of a DataFrame using their names:

In [ ]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']] #Selects the columns of the dataframe
print(aapl_bar)

                  Open        High         Low       Close
Date
2021-01-31  135.194777  136.100525  129.601064  131.342880
2021-02-28  122.199036  124.451831  120.813470  120.873283
2021-03-31  121.262039  123.126071  120.763634  121.760445
2021-04-30  131.359728  133.134050  130.652001  131.040756
2021-05-31  125.382147  125.611806  124.363676  124.423584
2021-06-30  135.966285  137.204435  135.666731  136.755112
2021-07-31  144.164003  146.111083  143.894403  145.641785
2021-08-31  152.660004  152.800003  151.289993  151.830002
2021-09-30  143.660004  144.380005  141.279999  141.500000
2021-10-31  147.220001  149.940002  146.410004  149.800003

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [ ]:
print(aapl_month.loc['2021-03':'2021-10',['Open', 'High', 'Low', 'Close']])#Uses loc to show the selected columns in the specified range

                  Open        High         Low       Close
Date
2021-03-31  121.262039  123.126071  120.763634  121.760445
2021-04-30  131.359728  133.134050  130.652001  131.040756
2021-05-31  125.382147  125.611806  124.363676  124.423584
2021-06-30  135.966285  137.204435  135.666731  136.755112
2021-07-31  144.164003  146.111083  143.894403  145.641785
2021-08-31  152.660004  152.800003  151.289993  151.830002
2021-09-30  143.660004  144.380005  141.279999  141.500000
2021-10-31  147.220001  149.940002  146.410004  149.800003

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [ ]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]#Same as with series, logical statements can be inside indexing square brackets
print(above)

                  Open        High         Low       Close
Date
2021-06-30  135.966285  137.204435  135.666731  136.755112
2021-07-31  144.164003  146.111083  143.894403  145.641785
2021-08-31  152.660004  152.800003  151.289993  151.830002
2021-09-30  143.660004  144.380005  141.279999  141.500000
2021-10-31  147.220001  149.940002  146.410004  149.800003

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [ ]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()#Gets percentage of change between consecutives in Close column
print(aapl_bar)

                  Open        High         Low       Close  rate_return
Date
2021-01-31  135.194777  136.100525  129.601064  131.342880          NaN
2021-02-28  122.199036  124.451831  120.813470  120.873283    -0.079712
2021-03-31  121.262039  123.126071  120.763634  121.760445     0.007340
2021-04-30  131.359728  133.134050  130.652001  131.040756     0.076218
2021-05-31  125.382147  125.611806  124.363676  124.423584    -0.050497
2021-06-30  135.966285  137.204435  135.666731  136.755112     0.099109
2021-07-31  144.164003  146.111083  143.894403  145.641785     0.064982
2021-08-31  152.660004  152.800003  151.289993  151.830002     0.042489
2021-09-30  143.660004  144.380005  141.279999  141.500000    -0.068037
2021-10-31  147.220001  149.940002  146.410004  149.800003     0.058657

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [ ]:
missing = aapl_bar.isnull() #Shows the NaN values
print(missing)
print('---------------------------------------------')
print(missing.describe())#Shows differente statistical data about every column

             Open   High    Low  Close  rate_return
Date
2021-01-31  False  False  False  False         True
2021-02-28  False  False  False  False        False
2021-03-31  False  False  False  False        False
2021-04-30  False  False  False  False        False
2021-05-31  False  False  False  False        False
2021-06-30  False  False  False  False        False
2021-07-31  False  False  False  False        False
2021-08-31  False  False  False  False        False
2021-09-30  False  False  False  False        False
2021-10-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      10     10     10     10          10
unique      1      1      1      1           2
top     False  False  False  False       False
freq       10     10     10     10           9

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [ ]:
print(missing[missing.rate_return == True])#Prints in which columns there are NaN values

             Open   High    Low  Close  rate_return
Date
2021-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [ ]:
drop = aapl_bar.dropna()#Drops the NaN value's row
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)#Fills with 0 the NaN values
print(fill)

                  Open        High         Low       Close  rate_return
Date
2021-02-28  122.199036  124.451831  120.813470  120.873283    -0.079712
2021-03-31  121.262039  123.126071  120.763634  121.760445     0.007340
2021-04-30  131.359728  133.134050  130.652001  131.040756     0.076218
2021-05-31  125.382147  125.611806  124.363676  124.423584    -0.050497
2021-06-30  135.966285  137.204435  135.666731  136.755112     0.099109
2021-07-31  144.164003  146.111083  143.894403  145.641785     0.064982
2021-08-31  152.660004  152.800003  151.289993  151.830002     0.042489
2021-09-30  143.660004  144.380005  141.279999  141.500000    -0.068037
2021-10-31  147.220001  149.940002  146.410004  149.800003     0.058657

--------------------------------------------------

                  Open        High         Low       Close  rate_return
Date
2021-01-31  135.194777  136.100525  129.601064  131.342880     0.000000
2021-02-28  122.199036  124.451831  120.813470  120.873283    -0.079712
2021-03-31  121.262039  123.126071  120.763634  121.760445     0.007340
2021-04-30  131.359728  133.134050  130.652001  131.040756     0.076218
2021-05-31  125.382147  125.611806  124.363676  124.423584    -0.050497
2021-06-30  135.966285  137.204435  135.666731  136.755112     0.099109
2021-07-31  144.164003  146.111083  143.894403  145.641785     0.064982
2021-08-31  152.660004  152.800003  151.289993  151.830002     0.042489
2021-09-30  143.660004  144.380005  141.279999  141.500000    -0.068037
2021-10-31  147.220001  149.940002  146.410004  149.800003     0.058657

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [ ]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1) #Merges the specified series into a dataframe
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [ ]:
log_price = np.log(aapl_bar.Close)#Gets natural logarithm of Close column values
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)#Concats both dataframes
print(concat)

Date
2021-01-31    4.877811
2021-02-28    4.794743
2021-03-31    4.802056
2021-04-30    4.875508
2021-05-31    4.823692
2021-06-30    4.918192
2021-07-31    4.981150
2021-08-31    5.022761
2021-09-30    4.952300
2021-10-31    5.009301
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                  Open        High  ...  rate_return  log_price
Date                                ...
2021-01-31  135.194777  136.100525  ...          NaN   4.877811
2021-02-28  122.199036  124.451831  ...    -0.079712   4.794743
2021-03-31  121.262039  123.126071  ...     0.007340   4.802056
2021-04-30  131.359728  133.134050  ...     0.076218   4.875508
2021-05-31  125.382147  125.611806  ...    -0.050497   4.823692
2021-06-30  135.966285  137.204435  ...     0.099109   4.918192
2021-07-31  144.164003  146.111083  ...     0.064982   4.981150
2021-08-31  152.660004  152.800003  ...     0.042489   5.022761
2021-09-30  143.660004  144.380005  ...    -0.068037   4.952300
2021-10-31  147.220001  149.940002  ...     0.058657   5.009301

[10 rows x 6 columns]

We can also join two DataFrames by rows. Consider these two DataFrames:

In [ ]:
df_volume = aapl_table.loc['2020-10':'2021-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])#Gets the specified columns of the given range
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2021 = aapl_table.loc['2020-10':'2021-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2021)

               Volume  Stock Splits
Date
2020-10-31  190272600           0.0
2020-11-30  169410200           0.0
2020-12-31   99116600           0.0
2021-01-31  177523800           0.0
2021-02-28  164560400           0.0
2021-03-31  118323800           0.0
2021-04-30  109839500           0.0

---------------------- separate line--------------------

                  Open        High         Low       Close
Date
2020-10-31  110.350244  111.274301  107.031593  108.164307
2020-11-30  116.422996  120.404290  116.263741  118.493271
2020-12-31  133.452972  134.109889  131.104008  132.069473
2021-01-31  135.194777  136.100525  129.601064  131.342880
2021-02-28  122.199036  124.451831  120.813470  120.873283
2021-03-31  121.262039  123.126071  120.763634  121.760445
2021-04-30  131.359728  133.134050  130.652001  131.040756

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [ ]:
concat = pd.concat([aapl_bar, df_volume], axis = 1) #Merges both dataframes by rows
print(concat)

                  Open        High  ...       Volume  Stock Splits
Date                                ...
2020-10-31         NaN         NaN  ...  190272600.0           0.0
2020-11-30         NaN         NaN  ...  169410200.0           0.0
2020-12-31         NaN         NaN  ...   99116600.0           0.0
2021-01-31  135.194777  136.100525  ...  177523800.0           0.0
2021-02-28  122.199036  124.451831  ...  164560400.0           0.0
2021-03-31  121.262039  123.126071  ...  118323800.0           0.0
2021-04-30  131.359728  133.134050  ...  109839500.0           0.0
2021-05-31  125.382147  125.611806  ...          NaN           NaN
2021-06-30  135.966285  137.204435  ...          NaN           NaN
2021-07-31  144.164003  146.111083  ...          NaN           NaN
2021-08-31  152.660004  152.800003  ...          NaN           NaN
2021-09-30  143.660004  144.380005  ...          NaN           NaN
2021-10-31  147.220001  149.940002  ...          NaN           NaN

[13 rows x 7 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [ ]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')#Merges dataframes with inner join
print(concat)

                  Open        High  ...     Volume  Stock Splits
Date                                ...
2021-01-31  135.194777  136.100525  ...  177523800           0.0
2021-02-28  122.199036  124.451831  ...  164560400           0.0
2021-03-31  121.262039  123.126071  ...  118323800           0.0
2021-04-30  131.359728  133.134050  ...  109839500           0.0

[4 rows x 7 columns]

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [ ]:
append = aapl_bar.append(df_2021)#Append the given dataframe
print(append)

                  Open        High         Low       Close  rate_return
Date
2021-01-31  135.194777  136.100525  129.601064  131.342880          NaN
2021-02-28  122.199036  124.451831  120.813470  120.873283    -0.079712
2021-03-31  121.262039  123.126071  120.763634  121.760445     0.007340
2021-04-30  131.359728  133.134050  130.652001  131.040756     0.076218
2021-05-31  125.382147  125.611806  124.363676  124.423584    -0.050497
2021-06-30  135.966285  137.204435  135.666731  136.755112     0.099109
2021-07-31  144.164003  146.111083  143.894403  145.641785     0.064982
2021-08-31  152.660004  152.800003  151.289993  151.830002     0.042489
2021-09-30  143.660004  144.380005  141.279999  141.500000    -0.068037
2021-10-31  147.220001  149.940002  146.410004  149.800003     0.058657
2020-10-31  110.350244  111.274301  107.031593  108.164307          NaN
2020-11-30  116.422996  120.404290  116.263741  118.493271          NaN
2020-12-31  133.452972  134.109889  131.104008  132.069473          NaN
2021-01-31  135.194777  136.100525  129.601064  131.342880          NaN
2021-02-28  122.199036  124.451831  120.813470  120.873283          NaN
2021-03-31  121.262039  123.126071  120.763634  121.760445          NaN
2021-04-30  131.359728  133.134050  130.652001  131.040756          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [ ]:
concat = pd.concat([aapl_bar, df_2021], axis = 0)#Also appends one dataframe to other but seen as a concatenation
print(concat)

                  Open        High         Low       Close  rate_return
Date
2021-01-31  135.194777  136.100525  129.601064  131.342880          NaN
2021-02-28  122.199036  124.451831  120.813470  120.873283    -0.079712
2021-03-31  121.262039  123.126071  120.763634  121.760445     0.007340
2021-04-30  131.359728  133.134050  130.652001  131.040756     0.076218
2021-05-31  125.382147  125.611806  124.363676  124.423584    -0.050497
2021-06-30  135.966285  137.204435  135.666731  136.755112     0.099109
2021-07-31  144.164003  146.111083  143.894403  145.641785     0.064982
2021-08-31  152.660004  152.800003  151.289993  151.830002     0.042489
2021-09-30  143.660004  144.380005  141.279999  141.500000    -0.068037
2021-10-31  147.220001  149.940002  146.410004  149.800003     0.058657
2020-10-31  110.350244  111.274301  107.031593  108.164307          NaN
2020-11-30  116.422996  120.404290  116.263741  118.493271          NaN
2020-12-31  133.452972  134.109889  131.104008  132.069473          NaN
2021-01-31  135.194777  136.100525  129.601064  131.342880          NaN
2021-02-28  122.199036  124.451831  120.813470  120.873283          NaN
2021-03-31  121.262039  123.126071  120.763634  121.760445          NaN
2021-04-30  131.359728  133.134050  130.652001  131.040756          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [ ]:
df_2021.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)#Merges by common columns
print(concat)

                  Open        High         Low       Close  rate_return
Date
2021-01-31  135.194777  136.100525  129.601064  131.342880          NaN
2021-02-28  122.199036  124.451831  120.813470  120.873283    -0.079712
2021-03-31  121.262039  123.126071  120.763634  121.760445     0.007340
2021-04-30  131.359728  133.134050  130.652001  131.040756     0.076218
2021-05-31  125.382147  125.611806  124.363676  124.423584    -0.050497
2021-06-30  135.966285  137.204435  135.666731  136.755112     0.099109
2021-07-31  144.164003  146.111083  143.894403  145.641785     0.064982
2021-08-31  152.660004  152.800003  151.289993  151.830002     0.042489
2021-09-30  143.660004  144.380005  141.279999  141.500000    -0.068037
2021-10-31  147.220001  149.940002  146.410004  149.800003     0.058657
2020-10-31  110.350244  111.274301  107.031593  108.164307          NaN
2020-11-30  116.422996  120.404290  116.263741  118.493271          NaN
2020-12-31  133.452972  134.109889  131.104008  132.069473          NaN
2021-01-31  135.194777  136.100525  129.601064  131.342880          NaN
2021-02-28  122.199036  124.451831  120.813470  120.873283          NaN
2021-03-31  121.262039  123.126071  120.763634  121.760445          NaN
2021-04-30  131.359728  133.134050  130.652001  131.040756          NaN

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.